extends ../base/layout

include ../base/additional-block
include ../base/form
include ../base/club-card

block variables
  - const title = "Доступ - Pilates Flow"
  - const subDate = "20.12.2022"
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ["header--bottom-menu", "header--is-authorised"]
  - const hasFooter = false
  - const footerMods = ""
  - const haspromo = false
  -
    const headerLinks =
      [
        {
          href: "#",
          text: "Активности",
          icon: "icon-catalog",
          width: 18,
          height: 18,
          current: true
        },
        {
          href: "#",
          text: "Зарядки",
          icon: "icon-shopping-cart",
          width: 20,
          height: 20,
          items: 0,
          current: false
        },
      ]
  -
    const formInputSettingsUser =
      [
        {
          name: "name",
          id: "name",
          type: "text",
          isRequired: true,
          label: "Имя",
        },
        {
          name: "surname",
          id: "surname",
          type: "text",
          isRequired: true,
          label: "Фамилия",
        },
        {
          name: "email",
          id: "email",
          type: "email",
          isRequired: false,
          label: "Электронный адрес",
        },
      ]
  -
    const formInputSettingsPass =
      [
        {
          name: "password",
          id: "password",
          type: "password",
          isRequired: true,
          label: "Новый пароль",
        },
        {
          name: "password2",
          id: "password2",
          type: "password",
          isRequired: true,
          label: "Повторите пароль",
        }
      ]
  -
    const video =
      {
        link: "#",
        path: "content/products",
        name: "pilates-player",
        format: "jpg",
        width: 1280,
        height: 720,
        title: "Пилатес мат",
      }

block main
  main.main
    .container.main__header.main__header--content-restricted-theme-weeks
      a(href="#").main__link-back
        +icon("icon-back-arrow", 32, 32)
      span.main__title.title Назад
    .container.container--account
      section.info 
        h1.visually-hidden Тематические недели
        .info__wrapper
          p.info__text Доступ к тематическим неделям по клубной карте
          .info__img
            +img("content/workout-cards", "img-pink-content", "png", 400, 400, "img-pink-content")
          .info__description
            h2.info__title.title.title--sub-title Тематические недели это:
            ul.description-list
              li.description-list__item 
                .benefits-check
                  .benefits-check__icon
                    +icon("icon-check-gradient", 32, 32)
                  span Комплексный подход для проработки мышц всего тела
              li.description-list__item 
                .benefits-check
                  .benefits-check__icon
                    +icon("icon-check-gradient", 32, 32)
                  span Готовые задания разработанные экспертами с учётом целей недели
              li.description-list__item 
                .benefits-check
                  .benefits-check__icon
                    +icon("icon-check-gradient", 32, 32)
                  span Ежедневная мотивация и поддержка от кураторов и сообщества
      section.club-cards 
        h2.title.title--sub-title Выберите свою клубную карту
        ul.club-cards__list.club-cards__list--row
          each item in clubCardsList2
            li.club-cards__item
              +clubCard(item, "club-card--dark")

