extends ../base/layout-new

include ../base/pill


block main
    include ../base/header-new
    include ../base/header-new-login
    include ../base/header-new-sign
    main.main-new 
        .container-new
            include ../base/product-list