extends ../base/layout

include ../base/filter-list
include ../base/promo
include ../base/product-card
include ../base/additional-block
include ../base/block-info

block variables
  - const title = "Мой каталог - Pilates Flow"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ["header--bottom-menu", "header--is-authorised"]
  - const hasFooter = false
  - const footerMods = ""
  - const haspromo = false
  - const avatar = ""
  - const userName = "Светлана"
  -
    const headerLinks =
      [
        {
          href: "#",
          text: "Активности",
          icon: "icon-activity",
          width: 22,
          height: 30,
          current: true
        },
        {
          href: "#",
          text: "Зарядки",
          icon: "icon-charging",
          width: 28,
          height: 32,
          current: false
        },
        {
          href: "#",
          text: "Мой поток",
          icon: "icon-my-steams",
          width: 32,
          height: 32,
          current: false
        }
      ]
  -
    const addBlock =
      [
        {
          title: "— 15% для владельцев клубных карт",
          text: "Воспользуйтесь купоном KARTA и\u00A0получите — 15% на все товары из\u00A0категории “Курсы” и\u00A0“Оборудование”.",
        },
      ]
  -
    const discount =
      {
        title: "— 15%  на оборудование и\u00A0курсы, воспользуйтесь купоном KARTA",
      }

block main
  main.main
    .container.main__header
      a(href="#", target="_blank", rel="nofollow noopener").main__link-back
        +icon("icon-back-arrow", 32, 32)
      h1.main__title.title Мой каталог
    .container.container--account
      //- Промо блок
      if (haspromo)
        section.content-block
          h2.visually-hidden.title Специальное предложение
          +promoSection(productCardspromo)(class="layout layout--row")

      //- Каталог
      //+additionalBlock(addBlock, "isLong")
      +blockInfo(discount)
      section.content-block.content-block--catalog
        h2.visually-hidden.title Список курсов
        //- Список фильтров
        //+filterList
        .filter-list.filter-list--catalog.swiper-container
          ul.filter-list__list.swiper-wrapper
            each item, index in filterCatalogItems
              if (index === 0)
                li.filter-list__item.swiper-slide
                  a.filter-list__link(class="filter-list__link--active", href="#")= item
              else
                li.filter-list__item.swiper-slide
                  a.filter-list__link(href="#")= item
        //- Список карточек курсов
        ul.layout.layout--grid
          each item in productCards
            //- Карточка курса
            li
              +productCard("", item)
