extends ../base/layout

include ../mixins/basic/sign-in-form

block variables
  - const title = "Вход - Pilates Flow"
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""

  -
    const formInputSettingsPass =
      [
        {
          name: "email",
          id: "email",
          type: "email",
          isRequired: false,
          label: "Электронная почта",
          attribute: "email",
          inputError: "Некорректный Email",
        },
      ]

  - const formInputAnnotation = "Для восстановления пароля впишите в поле ниже адрес электронной почты, указанный при регистрации."

block main
  main.main
    h1.visually-hidden Восстановление пароля
    .sign-in
      .sign-in__logo-container
        picture
          source(
            media=("(max-width: 1023px)")
            srcset="img/svg/sign-in-logo-mob.svg")
          img(src="img/svg/sign-in-logo.svg",  width="110", height="20", alt="логотип Pilates Flow")
      .container.container--sign-in
        .sign-in__wrapper
          +signInForm(formInputSettingsPass, "Восстановление пароля", formInputAnnotation, "Восстановить пароль")




