extends ../base/layout


block main
    .product-list
        .product-list__header 

            .product-list__header-title 
                h1.title Курсы

            .product-list__header-features-list
        
        .product-list