extends ../base/layout
include ../mixins/basic/sign-in-form

block variables
  - const title = "Вход - Pilates Flow"
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""

  -
    const formInputSettingsPass =
      [
        {
          name: "email",
          id: "email",
          type: "email",
          isRequired: false,
          label: "Электронная почта",
          attribute: "email",
          inputError: "Некорректный Email",
        },
        {
          name: "password2",
          id: "password2",
          type: "password",
          isRequired: true,
          label: "Пароль",
          inputError: "Введите пароль",
        }
      ]

block main
  main.main
    h1.visually-hidden Вход
    .sign-in
      .sign-in__logo-container
        picture
          source(
            media=("(max-width: 1023px)")
            srcset="img/svg/sign-in-logo-mob.svg")
          img(src="img/svg/sign-in-logo.svg",  width="110", height="20", alt="логотип Pilates Flow")
      .container.container--sign-in
        .sign-in__wrapper
          +signInForm(formInputSettingsPass, "Вход", "", "Войти")
          .sign-in__links
            .sign-in__link-item
              span Не помните пароль?
              a.sign-in__link(href="#") Восстановите пароль
            .sign-in__link-item
              span Нет учетной записи?
              a.sign-in__link(href="#") Зарегистрируйтесь
