extends ../base/layout

include ../base/additional-block
include ../base/form
include ../base/club-card

block variables
  - const title = "Мой профиль - Pilates Flow"
  - const subDate = "20.12.2022"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ["header--bottom-menu", "header--is-authorised"]
  - const isCardActive = false
  - const isAuthorise = true
  - const hasFooter = false
  - const footerMods = ""
  - const haspromo = false
  - const userName = "Светлана"
  - const lastActiveDate = "20.12.2022"
  -
    const headerLinks =
      [
        {
          href: "#",
          text: "Активности",
          icon: "icon-activity",
          width: 22,
          height: 30,
          current: true
        },
        {
          href: "#",
          text: "Зарядки",
          icon: "icon-charging",
          width: 28,
          height: 32,
          current: false
        },
        {
          href: "#",
          text: "Мой поток",
          icon: "icon-my-steams",
          width: 32,
          height: 32,
          current: false
        }
      ]
  -
    const formInputSettingsUser =
      [
        {
          name: "name",
          id: "name",
          type: "text",
          isRequired: true,
          label: "Имя",
        },
        {
          name: "surname",
          id: "surname",
          type: "text",
          isRequired: true,
          label: "Фамилия",
        },
        {
          name: "email",
          id: "email",
          type: "email",
          isRequired: false,
          label: "Электронный адрес",
        },
      ]
  -
    const formInputSettingsPass =
      [
        {
          name: "password",
          id: "password",
          type: "password",
          isRequired: true,
          label: "Новый пароль",
        },
        {
          name: "password2",
          id: "password2",
          type: "password",
          isRequired: true,
          label: "Повторите пароль",
        }
      ]
  -
    const clubCardInfo =
      [
        {
          text: "Подборки и супер-серии",
        },
        {
          text: "Более 140 пилатес зарядок",
        },
        {
          text: "Тематические недели"
        },
        {
          text: "15 % скидка на курсы и оборудовение"
        },
        {
          text: "Поддержку команды тренеров"
        },
      ]
  -
    const video =
      {
        link: "#",
        path: "content/products",
        name: "pilates-player",
        format: "jpg",
        width: 1280,
        height: 720,
        title: "Пилатес мат",
      }

block main
  main.main
    .container.main__header.main__header--workout
      a(href="#", target="_blank", rel="nofollow noopener").main__link-back
        +icon("icon-back-arrow", 32, 32)
    .container.container--account
      section.video
        .video__video-box
          if !isCardActive || !isAuthorise
            .video__lock
              .video__lock-text
                +icon("icon-lock", 146, 146)
                span Активируйте клубную карту для доступа к материалам.
          a(href="#")
            +img(video.path, video.name, video.format, video.width, video.height, video.name)
        .video__description.video-header
          .video-header__wrapper.video-header__wrapper--active
            h1.video-header__title Раскрытие тазобедренных суставов
            a.video-header__like.like-btn(href="#", data-like-button)
              +icon("icon-like", 14, 13)
              span.video-header__like-text Избранное
          .video-header__text Идеальное сочетание из пилатес зарядок  на эти выходные для всех нас.  Прекрасно подходит для тех, кто много сидел, много трудился физически или ленился и ничего не делал.
      section.club-cards
        h2.club-cards__title Выберите клубную карту
        .club-cards__wrapper
          ul.club-cards__list
            each item in clubCardsList
              li.club-cards__item
                +clubCard(item)
          .club-cards__info.club-info
            h3.club-info__title Клубная карта включает:
            ul.club-info__list
              each item in clubCardInfo
                li.club-info__item= item.text
