extends ../base/layout

include ../base/additional-block
include ../base/form
include ../base/video-loader
include ../base/recommend-slider
include ../base/ticket


block variables
  - const title = "Мой профиль - Pilates Flow"
  - const subDate = "20.12.2022"
  - const wrapperMods = "wrapper--app"
  - const hasHeader = true
  - const headerMods = ["header--bottom-menu", "header--is-authorised"]
  - const isCardActive = true
  - const isAuthorise = true
  - const hasFooter = false
  - const footerMods = ""
  - const haspromo = false
  - const userName = "Светлана"
  - const lastActiveDate = "20.12.2022"
  -
    const headerLinks =
      [
        {
          href: "#",
          text: "Активности",
          icon: "icon-activity",
          width: 22,
          height: 30,
          current: true
        },
        {
          href: "#",
          text: "Зарядки",
          icon: "icon-charging",
          width: 28,
          height: 32,
          current: false
        },
        {
          href: "#",
          text: "Мой поток",
          icon: "icon-my-steams",
          width: 32,
          height: 32,
          current: false
        }
      ]
  -
    const video =
      {
        link: "#",
        path: "content/products",
        name: "pilates-player",
        format: "jpg",
        width: 1280,
        height: 720,
        title: "Пилатес мат",
      }


block main
  main.main
    .container.main__header.main__header--workout
      a(href="#", target="_blank", rel="nofollow noopener").main__link-back
        +icon("icon-back-arrow", 32, 32)
    .container
      .container__content
        section.video
          .video__video-box
            if !isCardActive || !isAuthorise
              .video__lock
                .video__lock-text
                  +icon("icon-lock", 146, 146)
                  span Войдите в свою учётную<br/>запись.
            a.video__preview(href="#")
              +img(video.path, video.name, video.format, video.width, video.height, video.name)
          .video__description
            .video__description-header
              .video__description-header-inner
                h1.video__description-header-title Раскрытие тазобедренных суставов
                .video__description-header-points
                  .video__description-header-points-title Награда:
                  +ticket('+2 балла')
            .video__description-section-container
              .video__description-section-main
                .video__description-section
                  .video__description-title-container.video__description-title-container--margin-s
                    h2.video__description-title Описание 
                  .video__description-section-content
                    ul.video__description-chips-list
                      li 
                        .chips
                          .chips__icon
                            +icon("icon-clock", 28, 28)
                          .chips__text ~35 минут
                      li 
                        .chips
                          .chips__icon
                            +icon("icon-chart", 28, 28)
                          .chips__text Средний уровень 
                    p.video__descritption-section-text Идеальное сочетание из пилатес зарядок  на эти выходные для всех нас. Прекрасно подходит для тех, кто много сидел.

