extends ../base/layout

include ../base/additional-block
include ../base/form-enter
include ../base/club-card
include ../base/recommend-slider
include ../base/button
include ../base/form-reg
include ../base/modal-block-reg

block variables
  - const title = "Мой профиль - Pilates Flow"
  - const subDate = "20.12.2022"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ["header--bottom-menu"]
  - const isCardActive = false
  - const isAuthorise = false
  - const hasModal = true
  - const hasFooter = false
  - const footerMods = ""
  - const haspromo = false
  -
    const headerLinks =
      [
        {
          href: "#",
          text: "Активности",
          icon: "icon-activity",
          width: 22,
          height: 30,
          current: true
        },
        {
          href: "#",
          text: "Зарядки",
          icon: "icon-charging",
          width: 28,
          height: 32,
          current: false
        },
        {
          href: "#",
          text: "Мой поток",
          icon: "icon-my-steams",
          width: 32,
          height: 32,
          current: false
        }
      ]
  -
    const formInputSettingsPass =
      [
        {
          name: "name",
          id: "name",
          type: "text",
          isRequired: false,
          label: "Имя",
        },
        {
          name: "email",
          id: "email",
          type: "email",
          isRequired: true,
          label: "Электронная почта",
        }
      ]
  -
    const clubCardInfo =
      [
        {
          text: "Подборки и супер-серии",
        },
        {
          text: "Более 140 пилатес зарядок",
        },
        {
          text: "Тематические недели"
        },
        {
          text: "15 % скидка на курсы и оборудовение"
        },
        {
          text: "Поддержку команды тренеров"
        },
      ]
  -
    const video =
      {
        link: "#",
        path: "content/products",
        name: "pilates-player",
        format: "jpg",
        width: 1280,
        height: 720,
        title: "Пилатес мат",
      }

block main
  main.main
    .container.main__header.main__header--workout
      a(href="#", target="_blank", rel="nofollow noopener").main__link-back
        +icon("icon-back-arrow", 32, 32)
    .container
      .container__content
        section.video
          .video__video-box
            if !isCardActive || !isAuthorise
              .video__lock
                .video__lock-content
                  .video__lock-icon 
                    +icon("icon-lock", 72, 72)
                  .video__lock-text Зарегистрируйтесь и начните заниматься бесплатно 🎁
                  .video__lock-button 
                    +button('button--rounded button--gradient', 'Зарегистрироваться')
            a.video__preview(href="#")
              +img(video.path, video.name, video.format, video.width, video.height, video.name)
          .video__description
            .video__description-header
              .video__description-header-inner
                h1.video__description-header-title Раскрытие тазобедренных суставов
                a.video__description-header-like.like-btn(href="#", data-like-button)
                  +icon("icon-like", 14, 13)
                  span.video__description-header-like-text Избранное
            .video__description-section-container
              .video__description-section-main
                .video__description-section
                    .video__description-title-container.video__description-title-container--margin-s
                      h2.video__description-title Описание 
                    .video__description-section-content
                      ul.video__description-chips-list
                        li 
                          .chips
                            .chips__icon
                              +icon("icon-clock", 28, 28)
                            .chips__text ~35 минут
                        li 
                          .chips
                            .chips__icon
                              +icon("icon-chart", 28, 28)
                            .chips__text Средний уровень 
                      p.video__descritption-section-text Идеальное сочетание из пилатес зарядок  на эти выходные для всех нас. Прекрасно подходит для тех, кто много сидел.
                .video__description-section
                  .video__description-section-main
                    .video__description-title-container
                      h2.video__description-title Рекомендуем добавить
                    .video__description-section-slider
                      +recommendSlider(workoutFavoritesCardsList)(class="layout layout--row")

        section.login-section
          .login-section__content
            +formReg(formInputSettingsPass, "Зарегистрируйтесь и начните заниматься бесплатно")
  
  +modalBlockReg()