.assistant-page__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin: 0;

  @include vp--1023 {
    gap: 80px;
  }

  @include vp--767 {
    gap: 50px;
  }
}

.assistant-page__item {
  display: grid;
  grid-template-columns: 377px 1fr;
  column-gap: 80px;
  align-items: center;

  @include vp--1023 {
    display: flex;
    flex-direction: column;
    gap: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @include vp--767 {
    gap: 23px;
    align-items: center;
  }

  img {
    width: 377px;
    height: auto;

    @include vp--767 {
      width: 100%;
      max-width: 352px;
    }
  }
}

.assistant-page__item-title {
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  margin: 0;

  @include vp--767 {

  }
}

.assistant-page__item-text {
  font-weight: 500;
  line-height: 23px;
  margin: 0;

  @include vp--767 {
    line-height: 22px;
  }
}

.assistant-page__information-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include vp--767 {
    padding: 0 5px 0 16px;
    gap: 15px;
  }
}

.assistant-page__item-link {
  width: fit-content;
  min-width: 178px;
  padding: 12px 32px;
  color: $color-rich-blue;
  border-radius: 4px;
  border: 1px solid $color-rich-blue;
  text-align: center;
  user-select: none;

  @include vp--767 {
    margin-top: 9px;
  }

  &:hover {
    color: $color-dark-slate-blue;
    border: 1px solid $color-dark-state-blue;
  }
}
