.checkout-block {
    padding-top: 64px;
    background-color: $color-default-white;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    padding-bottom: 100px;


    @include vp--767 {
        padding-top: 24px;
        min-height: 100vh;
    }

    &__container {
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;

        @include vp--767 {
            padding-left: 40px;
            padding-right: 40px;
            box-sizing: content-box;
        }
    }

    &__header {
       display: flex;
       align-items: center;
       flex-direction: column;
       margin-bottom: 32px;
       column-gap: 24px;
    }


    &__price-info {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__price-ticket {
        font-size: 13px;
        line-height: 16px;
        color: $color-default-white;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 8px;
        padding-right: 8px;
        font-weight: 500;
        background: $discount-label-gradient-pale;
        border-radius: 50px;
    }

    &__price-data {
        display: flex;
        align-items: baseline;
    }

    &__price-old {
        font-size: 21px;
        font-weight: 500;
        line-height: 17px;
        color: $color-midnight-blue;
        text-decoration: line-through;
        margin-right: 8px;
    }

    &__price-new {
        font-size: 32px;
        font-weight: 600;
        line-height: 28px;
        color: $color-midnight-blue;
    }

    &__price-gift {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.3em;

        @include vp--767 {
            font-size: 13px;
        }
    }

    &__title {
        font-size: 25px;
        line-height: 1.15em;
        margin-top: 24px;
        margin-bottom: 0;
        font-weight: 600;

        @include vp--767 {
            font-size: 21px;
        }
    }

    &__price-block {
        margin-bottom: 16px;
    }

    &__price-info {

    }


    &__form-button {
        margin-top: 64px;

        @include vp--767 {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 24px;
            justify-content: center;
        }
    }

    &__form-button-container {
        max-width: 380px;
        width: 100%;
    }

    &__form-promo {
        margin-bottom: 32px;
    }

    &__notice {
        padding: 16px;
        background-color: $color-alice-blue;
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.3em;
        margin-bottom: 32px;
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 24px;
        padding-right: 24px;
        text-align: center;

        @include vp--767 {
            width: 100%;
            max-width: none;
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    &__notice-container {
        max-width: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 8px;
        justify-content: center;
    }

    &__notice-icon {
        font-size: 9px;
        line-height: 13px;
        color: $color-default-white; 
        width: 16px;
        height: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $color-rich-blue;
    }

    &__message {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        background-color: $color-alice-blue;
        font-size: 13px;
        line-height: 1.3em;
        font-weight: 500;
        display: none;

        @include vp--1023 {
            display: block;
        }

    }

    &__message-container {
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;
    }

}