.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 140px 0 70px;

  @include vp--1023 {
    display: none;
  }
}

.footer__text {
  margin: 0;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}
