.gradient-link-gradient-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, $color-tea-rose 0%, $color-maya-blue 100%);
  border-radius: 8px;
  min-width: 169px;
  width: fit-content;
  min-height: 32px;
  user-select: none;

  @include vp--767 {
    width: 100%;
  }
}

.gradient-link-gradient-text:hover,
.gradient-link-gradient-text:focus-visible {
  background: $discount-label-gradient;

  .gradient-link-gradient-text__text {
    background: $discount-label-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.gradient-link-gradient-text--disabled {
  background: gradient(90deg, $color-lavender-rose 0%, $color-light-sky-blue 100%);

  .gradient-link-gradient-text__text {
    background: gradient(90deg, $color-lavender-rose 0%, $color-light-sky-blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.gradient-link-gradient-text__text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $color-default-white;
  border-radius: 7px;
  padding: 11px 16px;
  margin: 1px;
}

.gradient-link-gradient-text__text {
  font-weight: 500;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2em;
  background: linear-gradient(90deg, $color-tea-rose 0%, $color-maya-blue 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  margin: 0;
}
