.lessons-in-the-stream-promo {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp--1023 {
    margin-top: 40px;
  }

  img {
    width: 373px;
    height: 344px;

    @include vp--767 {
      width: 238px;
      height: 220px;
    }
  }
}

.lessons-in-the-stream-promo__promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.lessons-in-the-stream-promo__title {
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
  margin: 0 auto;
  margin-top: 32px;
  color: $color-night-rider;
  max-width: 500px;
  width: fit-content;
}

.lessons-in-the-stream-promo__text {
  font-weight: 500;
  font-size: 19px;
  line-height: 26px;
  text-align: center;
  margin: 15px auto 51px auto;

  @include vp--1023 {
    margin-bottom: 10px;
  }

  @include vp--767 {
    font-size: 16px;
    line-height: 22px;
    margin-top: 5px;
    margin-bottom: 24px;
  }
}

.lessons-in-the-stream-promo__list {
  list-style: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  @include vp--1023 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include vp--767 {
    margin-top: 20px;
    gap: 10px;
  }
}

.lessons-in-the-stream-promo__item {
  padding: 52px;
  min-height: 262px;
  border: 1px solid $color-solitude;
  border-radius: 16px;

  @include vp--1023 {
    width: 400px;
    min-height: 262px;
    // min-height: auto;
    padding: 52px 53px;
  }

  @include vp--767 {
    width: auto;
    min-height: auto;
    padding: 52px 49px 59px;
  }

}

.lessons-in-the-stream-promo__item-number-wrapper {
  min-width: 43px;
  padding: 8px;
  width: fit-content;
  height: 43px;
  background-color: $color-solitude;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include vp--767 {
    min-width: 40px;
    height: 40px;
  }
}

.lessons-in-the-stream-promo__item-number {
  font-weight: 500;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  width: fit-content;
  z-index: 99;
}

.lessons-in-the-stream-promo__item-text {
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  margin: 0;
  margin-top: 16px;

  @include vp--1023 {
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px;
  }

  @include vp--767 {
    margin-top: 18px;
  }
}
