.my-activities {
    @include section;
    padding-bottom: 0;

    @include vp--767 {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 24px;
        padding-bottom: 0;
    }


    &__header {
        margin-bottom: 40px;

        @include vp--767 {
            margin-bottom: 24px;
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.2em;

        @include vp--767 {
            font-size: 17px;
            line-height: 1.5em;
        }
    }

    &__tabs-buttons {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 24px;
        overflow-y: auto;

        @include vp--1023 {
            margin-bottom: 32px;
        }

        @include vp--767 {
            margin-bottom: 16px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    &__tabs-button {
        background-color: transparent;
        color: $color-baltic-sea;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        padding-top: 23px;
        padding-bottom: 23px;
        padding-left: 24px;
        padding-right: 24px;
        cursor: pointer;
        transition: .3s;
        border-radius: 40px;
        border: none;
        display: flex;
        align-items: center;
        white-space: nowrap;

        @include vp--767 {
            font-size: 10px;
            line-height: 1.15em;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 16px;
            padding-right: 16px;
        }

        &:hover {
            background-color: $color-purple;
            color: $color-default-white;
        }

        &--courses {
            .my-activities__tabs-button-icon {
                background-image: url('../img/icon/icon-medal.svg');
            }
            

            &:hover, &.active {
                .my-activities__tabs-button-icon {
                    background-image: url('../img/icon/icon-medal-white.svg');
                }
                
            }
        }

        &--weeks {
            .my-activities__tabs-button-icon {
                background-image: url('../img/icon/icon-calendar.svg');
            }
            

            &:hover, &.active {
                .my-activities__tabs-button-icon {
                    background-image: url('../img/icon/icon-calendar-white.svg');
                }
                
            }
        }

        &--series {
            .my-activities__tabs-button-icon {
                background-image: url('../img/icon/icon-layer.svg');
            }

            &:hover, &.active {
                .my-activities__tabs-button-icon {
                    background-image: url('../img/icon/icon-layer-white.svg');
                }
                
            }
        }

        &.active {
            background-color: $color-purple;
            color: $color-default-white;
        }
    }

    &__tabs-button-icon {
        width: 22px;
        height: 22px;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: .3s;

        @include vp--767 {
            display: none;
        }
    }

    &__tabs-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;



        @include vp--767 {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
        }
    }

    &__content {
        padding-bottom: 20px;
    }

    &__bot-section {
        margin-left: -24px;
        margin-right: -24px;
        
        @include vp--767 {
            margin-left: 0;
            margin-right: 0;
        }
    }
}