.personal-assistant {
  background-color: $color-alice-blue2;
  border-radius: 24px;
  margin-top: 40px;
  padding: 28px 30px 28px 32px;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 38px;
  align-items: center;

  @include vp--1023 {
    padding: 32px 26px;
    margin-top: 25px;
    gap: 40px;
    align-items: flex-start;
  }

  @include vp--767 {
    display: block;
    border-radius: 16px;
    padding: 24px 19px;
  }
}

.personal-assistant__layout-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 38px;

  @include vp--1023 {
    display: block;
    margin-top: 16px;
  }

  @include vp--767 {
    margin-top: 11px;
  }
}

.personal-assistant__description {
  font-family: $font-family--montserrat;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  width: 434px;
  margin: 0;
  flex-shrink: 0;

  @include vp--767 {
    width: 100%;
    font-family: $font-family--manrope;
    line-height: 26px;
  }
}

.personal-assistant__telegramm-link {
  display: block;
  padding: 16px 40px;
  width: fit-content;
  min-width: 213px;
  font-family: $font-family--manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  cursor: pointer;
  background-color: $color-rich-blue;
  border-radius: 4px;
  color: $color-default-white;
  transition: background-color 300ms;

  &:hover {
    background-color: $color-dark-state-blue;
  }

  &:disabled {
    background-color: $color-perano;
    cursor: auto;
  }

  @include vp--1023 {
    margin-top: 27px;
  }

  @include vp--767 {
    margin-top: 25px;
  }
}
