.ticket {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: $discount-label-gradient;
    color: $color-default-white;
    border-radius: 50px;
}