.video-next {
  position: relative;
  z-index: 1;
  padding-top: 16px;

  @include vp--1023 {
    padding-top: 7px;
  }
}

.video-next__text {
  font-size: 21px;
  line-height: 115%;
  margin-bottom: 24px;
  color: $color-default-white;

  @include vp--1023 {
    text-align: center;
    margin-bottom: 16px;
  }
}

.video-next__img {
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;

  @include vp--1023 {
    img {
      max-height: none;
      height: 18.7vw;
      width: 33vw;
    }
  }

  img {
    width: 355px;
    height:200px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.video-next__link-btn {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  cursor: pointer;

  @include vp--1023 {
    top: calc(50% - 16px);
    left: calc(50% - 16px);

    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.video-next__link-btn:focus,
.video-next__link-btn:hover {
  transform: scale(1.2);
  outline: none;
}

.video-next__link-btn:active {
  opacity: 0.8;
}
