.workout-card-base {
  user-select: none;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 0;

  a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
  }
}



.workout-card-base__content-wrapper {
  border-radius: 11px;

}

.workout-card-base__content {
  overflow: hidden;
  border: 1px solid $color-default-white;
  border-radius: 9px;
}

.workout-card-base__img-container {
  position: relative;
  padding-bottom: 60.2%;
  overflow: hidden;
  border-radius: 8px;

  &::before {
    position: absolute;
    content: '';
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg,transparent, rgba(102, 102, 102, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.workout-card-base__title {
  font-family: $font-family--manrope;
  font-weight: 500;
  font-size: 17px;
  position: relative;
  z-index: 2;

  letter-spacing: .05em;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: $color-default-white;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.workout-card-base__time-label {
  position: absolute;
  margin: 0;
  width: fit-content;
  padding: 3px 4px;
  background-color: rgba(0, 0, 0, 0.7);
  color: $color-default-white;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  border-radius: 4px;
  right: 6px;
  top: 8px;
  z-index: 3;

  @include vp--1023 {
    right: 10px;
  }
}




.workout-card-base:hover .workout-card-base__content-wrapper {
  box-shadow: 0 0 0 4px $color-alice-blue;
}

.workout-card-base:hover .workout-card-base__content {
  border-color: $color-light-steel-blue;
}
