.alert.alert--info
    .alert__icon
        include ..\..\img\svg\user-exclamation.svg

    .alert__content
        .alert__title Для оформления заказа необходимо указать контактные данные.
    .alert__close