mixin assistant
  section.assistant
    .assistant__wrapper
      +icon("icon-assistant-girl", 377, 345)
      .assistant__content
        h2.title.assistant__title Ассистент Pilates Flow
        p.assistant__text Ассистент поможет выбрать подборку зарядок на неделю и ответит на вопросы по технике упражнений.
        .assistant__links
          a(href="#", target="_blank", rel="nofollow noopener").assistant__link.btn Телеграм
          a(href="#", target="_blank", rel="nofollow noopener").assistant__link.btn Вконтакте