include pill

.cart-summary
    .cart-summary__item 
        .cart-summary__item-header
            .cart-summary__item-title Персональная программа 
            +pill('pill--s pill--pink', '', '- 35% для вас')
        .cart-summary__item-desciption  + 🎁  Клубная карта Pilates Flow на 1 месяц в подарок
    .cart-summary__total 
        .cart-summary__total-title Итого:
        .cart-summary__total-value 
            .cart-summary__total-value-old 2 840 ₽
            .cart-summary__total-value-current 2 840 ₽