mixin checkbox 

    label.checkbox
        input(type="checkbox").checkbox__input-hidden
        span.checkbox__input
        span.checkbox__content Я прочитал(а) и соглашаюсь с правилами сайта правила и условия *
