label.checkbox-new
    input(type="checkbox" id='checkbox').checkbox-new__input
    span.checkbox-new__control
    span.checkbox-new__label-block
        span.checkbox-new__label-title Я прочитал(а) и соглашаюсь с правилами сайта правила и&nbsp;условиями&nbsp;*
        //- span.checkbox-new__label-description Label description 