mixin clubCardBlock()

    .club-card-block 
        .club-card-block__image 
            img(src="img/content/card.svg", alt="Клубная карта на 1 месяц")
        .club-card-block__content 
            h1.club-card-block__content-header Клубная карта на 1 месяц
            .club-card-block__content-text 
                p При покупке персональный программы вы получаете доступ по клубной карте к тематическим неделям и зарядкам.
            .club-card-block__content-price
                +priceBlock()