.cta-block.cta-block--curve-pink 
    .cta-block__container 
        .cta-block__content
            .cta-block__text-block
                h3.cta-block__title — 35% на Клубную карту
                .cta-block__description Откройте доступ к Тематическим неделям и более чем к 200 + классом для уверенного прогресса на пути к созданию подтянутого тела
            .cta-block__button
                +button-new('Подробнее', 'button-new--full-width')