include ../data/placeholder
include ../data/section-card
include ../data/tematic-card
include ../data/temetic-card2
include ../data/courses-card
include ../data/special-offer
include ../data/filter-list
include ../data/product-card
include ../data/product-card-promo
include ../data/offer-card
include ../data/course-list
include ../data/offer-list
include ../data/equipment-list
include ../data/workouts-video
include ../data/club-cards-list
include ../data/activity-list
include ../data/activity-workouts
include ../data/activity-comments
