mixin daysInTheStream(classMod, days, title)
  section.days-in-the-stream(class=classMod)
    .days-in-the-stream__marketing
      p Начните занятия в потоке 😉
    .days-in-the-stream__days-block
      span.days-in-the-stream__number-of-days=days
      span.days-in-the-stream__days-text=title + " в потоке"
