mixin exercise()
    .exercise 
        span.exercise__thumb 
            span.exercise__thumb-done
                +icon("icon-completed", 32, 32)
        img(src="img/content/BG.jpg", alt="Улучшаем подвижность позвоночника")
        span.exercise__title Улучшаем подвижность позвоночника