mixin feature-item-new(title, description)

    .feature-item-new
        .feature-item-new__icon
            include ..\..\img\svg\box-lombok.svg
        .feature-item-new__content
            h3.feature-item-new__title= title
            p.feature-item-new__description= description
