mixin gradientLinkGradientText(classMod, link, text)

  a.gradient-link-gradient-text(href=link class=classMod)
    .gradient-link-gradient-text__text-wrapper
      p.gradient-link-gradient-text__text=text
