include avatar
include button-new

.header-new.header-new--sign
    .header-new__container
        .header-new__content
            .header-new__logo
                a.header-new__logo(href="index.html", aria-label="Переход на главную")
                    img(src="img/svg/logo-new.svg",  width="32", height="32", alt="")