include avatar
include button-new

.header-new
    .header-new__container
        .header-new__content
            .header-new__logo
                a.header-new__logo(href="index.html", aria-label="Переход на главную")
                    img(src="img/svg/logo-new.svg",  width="32", height="32", alt="")
            .header-new__nav
                a(href="#").header-new__nav-link.active Курсы
                a(href="#").header-new__nav-link Клубные карты
            .header-new__user-block
                +button-new("Войти", "button-new--m")