mixin infoBlock 
    
    .info-block
        .info-block__title Коррекция программы
        .info-block__text 
            p Если у вас что-то не получается или вы не успеваете заниматься по графику—напиши в чат ассистента мы решим как адаптировать программу под вас.
        .info-block__button
            a(href="#").button.button--purple.button--rounded.button--full-width Перейти в Telegram