mixin personalProgram

    .personal-program
        a(href="#").personal-program__link-mobile
        .personal-program__header
            .personal-program__subtitle 
                span Разработают эксперты
            h2.personal-program__title Персональная программа с учетом: 

        .personal-program__data
            ul.personal-program__data-list
                li Веса
                li Физ. подготовки
                li Целей
                li Графика
            a.personal-program__data-link(href="#")
                +icon("icon-arrow", 48, 16) 

        .personal-program__image-container 
            a(href="#").personal-program__image
                img(src="img/content/personal-program/personal-program.jpg", alt="")

