include price-card
include feature-item-new

//- block variables
//-     - const featureItems = 
//-         [
//-             {
//-                 title: '200+ Зарядок для всего тела',
//-                 description: 'Доступ к более чем 200 зарядкам по 5 направлениям для комплексной проработки всего тела.',
//-             },
//-             {
//-                 title: 'Бота—ассистента',
//-                 description: 'Ассистент пришлёт задание из марафона или персональной программы. Подключит куратора для корректировки плана тренировок. ',
//-             },
//-             {
//-                 title: 'Тематические недели',
//-                 description: 'Доступ к активностям, которые мы проводим каждые две недели на платформе Pilates Flow.',
//-             },
//-             {
//-                 title: 'Поддержку экспертов',
//-                 description: 'Поддержка тренеров-экспертов, которые ответят на вопросы по технике выполнения упражнений и помогут сохранить мотивацию.',
//-             }
//-         ]



-
    const featureItems =
        [
            {
                title: '200+ Зарядок для всего тела',
                description: 'Доступ к более чем 200 зарядкам по 5 направлениям для комплексной проработки всего тела.',
            },
            {
                title: 'Бота—ассистента',
                description: 'Ассистент пришлёт задание из марафона или персональной программы. Подключит куратора для корректировки плана тренировок. ',
            },
            {
                title: 'Тематические недели',
                description: 'Доступ к активностям, которые мы проводим каждые две недели на платформе Pilates Flow.',
            },
            {
                title: 'Поддержку экспертов',
                description: 'Поддержка тренеров-экспертов, которые ответят на вопросы по технике выполнения упражнений и помогут сохранить мотивацию.',
            }
        ]

.price-section
    .price-section__card-list
        +price-card('', 'Карта на 1 месяц', '760 ₽', '2370 ₽')
        +price-card('price-card--accent', 'Карта на 1 месяц', '760 ₽', '2370 ₽')
        +price-card('', 'Карта на 1 месяц', '760 ₽', '2370 ₽')
    .price-section__features
        .price-section__features-header
            h2.price-section__features-title Карта включает
        .price-section__features-list
            each featureItem in featureItems
                +feature-item-new(featureItem.title, featureItem.description)
