include ../base/button

mixin priceBlock()

    .price-block 
        .price-block__price
            .price-block__price-ticket -15% для вас
            .price-block__price-data
                .price-block__price-old 2790
                    span.rouble ₽
                .price-block__price-new 1953
                    span.rouble ₽
        .price-block__buttons
            +button('button--s button--rounded button--gradient button--full-width', 'Приобрести сейчас')