.product-item
    a(href="#").product-item__link

    .product-item__image 
        img(src="img/content/product-item/product-item.jpg", alt="Марафон “Плоский живот”")
    .product-item__main-info
        .product-item__main-info-description
            .product-item__title Марафон “Плоский живот”
            .product-item__description Комплекс подход для создания плоского живота. Доступ включает персональный разбор техники...
        .product-item__attribute-list
            .product-item__attribute-item
                .product-item__attribute-item-icon 
                    include ..\..\img\svg\dumbbell.svg
                | Нужно оборудование
            .product-item__attribute-item
                .product-item__attribute-item-icon 
                    include ..\..\img\svg\signal.svg
                | Для начинающих
            .product-item__attribute-item
                .product-item__attribute-item-icon 
                    include ..\..\img\svg\calendar.svg
                | 30 дней
        .product-item__main-info-price
            .product-item__price
                | 1 990 ₽
            span.product-item__price-old 2 990 ₽
        