mixin videoLoader(loaderMods)

  .video-loader(class=loaderMods)
    .video-loader__icon
      <svg width="65" height="66" viewBox="0 0 65 66" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="19" cy="8" r="5" fill="#BCDCFD"/>
        <circle cx="7.5" cy="19.5" r="4.5" fill="#BCDCFD"/>
        <circle cx="33.5" cy="4.5" r="4.5" fill="#BCDCFD"/>
        <circle cx="4" cy="34" r="4" fill="#BCDCFD"/>
        <circle cx="49" cy="8" r="4" fill="#BCDCFD" fill-opacity="0.8"/>
        <circle cx="7.5" cy="49.5" r="3.5" fill="#BCDCFD" fill-opacity="0.8"/>
        <circle cx="18" cy="59" r="3" fill="#BCDCFD" fill-opacity="0.6"/>
        <circle cx="33" cy="63" r="3" fill="#BCDCFD" fill-opacity="0.6"/>
        <circle cx="48" cy="59" r="3" fill="#BCDCFD" fill-opacity="0.6"/>
        <circle cx="58" cy="49" r="3" fill="#BCDCFD" fill-opacity="0.6"/>
        <circle cx="62" cy="34" r="3" fill="#BCDCFD" fill-opacity="0.6"/>
        <circle cx="58" cy="19" r="3" fill="#BCDCFD" fill-opacity="0.6"/>
      </svg>
