mixin workoutCard(workoutCardMod, data)

  .workout-card(class=workoutCardMod)
    a.workout-card__link(href=data.link, target="_blank", rel="nofollow noopener")
    .workout-card__content-wrapper
      .workout-card__content

        //- Продолжительность
        if data.time
          span.workout-card__time-label #{data.time} мин

        //- Иконка супер-серия
        if data.superSeria
          span.workout-card__super-seria-label супер-серия

        //- Изображение
        .workout-card__img-container
          +img(data.path, data.name, data.format, data.width, data.height, data.course)

          //- кнопка добавить в избранное
          if data.favorite === true
            button.workout-card__favorite-button.workout-card__favorite-button--is-active
              span.visually-hidden добавить в избранное
          else
            button.workout-card__favorite-button
              span.visually-hidden добавить в избранное

    //- Заголовок
    h3.workout-card__title #{data.course}
