-
  var activityComments = [
      {
        id: "0",
        link: "#",
        path: "content/avatars",
        name: "ava40-1",
        format: "png",
        width: 40,
        height: 40,
        author: "Светлана Конькова",
        text: "Добрый вечер! А через сколько времени после еды можно заниматься и через сколько можно кушать? И если заниматься поздно вечером, то это не стонизирует, я смогу уснуть потом? Хочу сейчас позаниматься, но через 2,5 часа спать и я боюсь, что буду долго бодрствовать, а завтра рано вставать!",
      },
      {
        id: "1",
        link: "#",
        path: "content/avatars",
        name: "ava40-2",
        format: "png",
        width: 40,
        height: 40,
        author: "Юлия Волошко",
        text: "Если заниматься поздно вечером, то это не стонизирует, я смогу уснуть потом? Хочу сейчас позаниматься, но через 2,5 часа спать и я боюсь, что буду долго бодрствовать, а завтра рано вставать!",
      },
      {
        id: "2",
        link: "#",
        path: "content/avatars",
        name: "ava40-3",
        format: "png",
        width: 40,
        height: 40,
        author: "Кристина Асмус",
        text: "Добрый вечер! Очень хотелось бы побольше зарядок на 30-40мин. на все тело. На длинной зарядке не приходится отвлекаться на составление комплекса, а сосредотачиваешься непосредствнно на качестве выполнения. К полной тренировке проще прицепить разминку стоп и растяжку, чем составлять комплекс из 4-5 зарядок.",
      reply: {
        id: "3",
        link: "#",
        path: "content/avatars",
        name: "ava40-3",
        format: "png",
        width: 40,
        height: 40,
        author: "Кристина Асмус",
        text: "Добрый вечер! Очень хотелось бы побольше зарядок на 30-40мин. на все тело. На длинной зарядке не приходится отвлекаться на составление комплекса, а сосредотачиваешься непосредствнно на качестве выполнения. К полной тренировке проще прицепить разминку стоп и растяжку, чем составлять комплекс из 4-5 зарядок.",
        }
      },
    ]
