-
  var activityList1 = {
    title: "Новогодний интенсив — 2 задание",
    time: "Комплексы на 12 декабря ",
    text: "Привет, друзья! Как всегда, время в хороше й компании пролетает незаметно 😊. Заканчивается огненная интенсивная неделя и на сегодня я подготовила для вас одни из своих самых любимых комплексов 👇🏼",
    workoutName: "Супер-серия на гибкость — 17 мин",
  }
-
  var activityList2 = {
    title: "Новогодний интенсив — 1 задание",
    time: "Комплексы на 12 декабря ",
    text: "Привет, друзья! Как всегда, время в хороше й компании пролетает незаметно 😊. Заканчивается огненная интенсивная неделя и на сегодня я подготовила для вас одни из своих самых любимых комплексов 👇🏼",
  }
-
  var activityList3 = {
    title: "Новогодний интенсив — 2 задание",
    time: "Комплексы на 12 декабря ",
    text: "Привет, друзья! Как всегда, время в хороше й компании пролетает незаметно 😊. Заканчивается огненная интенсивная неделя и на сегодня я подготовила для вас одни из своих самых любимых комплексов 👇🏼",
    img: {
      path: "content/workout-cards",
      name: "workout-card-mp",
      format: "jpg",
      width: "640",
      height: "360",
    }
  }
-
  var activityList4 = {
    title: "Живой эфир “Утро с\u00A0зарядкой”",
    time: "Трансляция от 12 декабря",
    text: "Привет, друзья! Как всегда, время в хороше й компании пролетает незаметно 😊. Заканчивается огненная интенсивная неделя и на сегодня я подготовила для вас одни из своих самых любимых комплексов 👇🏼",
    video: {
      path: "content/workout-cards",
      name: "workout-card-mp",
      format: "jpg",
      width: "640",
      height: "360",
    }
  }
