-
  var activityWorkouts1 = [
      {
        time: "10 мин",
        link: "#",
        path: "content/products",
        name: "workout-card-sdn",
        format: "jpg",
        width: 140,
        height: 140,
        course: "Зарядка “Гибкость тела”",
      },
      {
        time: "10 мин",
        link: "#",
        path: "content/products",
        name: "workout-card-rts",
        format: "jpg",
        width: 140,
        height: 140,
        course: "Зарядка “Гибкость тела”",
      },
    ]
-
  var activityWorkouts2 = [
      {
        time: "13 мин",
        link: "#",
        path: "content/products",
        name: "workout-card-pg",
        format: "jpg",
        width: 140,
        height: 140,
        course: "Зарядка “Гибкость тела”",
      },
    ]
