-
    var catalogLinks = [
      {
        href: "#",
        text: "Каталог",
        icon: "icon-catalog",
        width: 18,
        height: 18
      },
      {
        href: "#",
        text: "Корзина",
        icon: "icon-shopping-cart",
        width: 20,
        height: 20,
        itemsInCart: "20"
      }
    ]
