-
  var clubCardsList = [
      {
        month: "Карта на 1 месяц",
        price: "549",
      },
      {
        month: "Карта на 3 месяц",
        price: "2070",
        priceAll: 1399,
        discount: 15,
      },
      {
        month: "Карта на 9 месяц",
        price: "2070",
        priceAll: 3952,
        discount: 15,
      },
    ]
-
  var clubCardsList2 = [
      {
        month: "1 месяц",
        price: "549",
      },
      {
        month: "3 месяца",
        price: "467",
        discount: -15,
      },
      {
        month: "9 месяцев",
        price: "467",
        discount: -20,
      },
    ]
