-
  var coursesCards = [
      {
        day: 15,
        month: "октября",
        date: "2021-10-15",
        link: "#",
        path: "content/products",
        name: "product-card-t",
        format: "jpg",
        width: 592,
        height: 592,
        course: "Пилатес Трансформация",
        price: "1990",
        oldPrice: "4000",
        discount: "- 50%"
      }
    ]
