-
  var productCardsCourses = [
      {
        link: "/",
        path: "content/products",
        name: "product-card-t",
        format: "jpg",
        width: 588,
        height: 329,
        course: "Курс 'Пилатес трансформация'",
        text: "Начните свой путь к созданию подтянутого и гибкого тела, занимаясь дома.",
        date: "С 20 октября до 1 декабря",
        progress: "50%",
      },
      {
        link: "/",
        path: "content/products",
        name: "product-card-bc",
        format: "jpg",
        width: 588,
        height: 329,
        course: "Базовый пилатес курс",
        text: "Начните свой путь к созданию подтянутого и гибкого тела, занимаясь дома.",
        date: "С 20 октября до 1 декабря",
        progress: "0%",
      },
    ]

-
  var productCardsMarathones = [
      {
        link: "/",
        path: "content/products",
        name: "product-card-hb",
        format: "jpg",
        width: 588,
        height: 329,
        course: "Марафон “Плоский живот”",
        text: "Комплекс подход для создания плоского живота. Доступ включает персональный разбор техники выполнения упражнений.",
        date: "С 20 октября до 1 декабря",
      }
    ]

-
  var activitiesCardsCourses = [
      {
        link: "/",
        path: "content/products",
        name: "product-card-hb",
        format: "jpg",
        width: 588,
        height: 329,
        course: "Марафон “Плоский живот”",
        text: "Комплекс подход для создания плоского живота. Доступ включает персональный разбор техники выполнения упражнений.",
        date: "С 20 октября до 1 декабря",
        progress: "0%",
      },
      {
        link: "/",
        path: "content/products",
        name: "product-card-bc",
        format: "jpg",
        width: 588,
        height: 329,
        course: "Базовый пилатес курс",
        text: "Начните свой путь к созданию подтянутого и гибкого тела, занимаясь дома.",
        date: "С 20 октября до 1 декабря",
        progress: "0%",
      },
    ]
-
  var recomCardsCourses = [
      {
        //- link: "/",
        path: "content/products",
        name: "product-card-t",
        format: "jpg",
        width: 588,
        height: 329,
        course: "Рекомендуем  курс “Базовый пилатес”",
        //- text: "Комплекс подход для создания плоского живота. Доступ включает персональный разбор техники выполнения упражнений.",
        sale: "- 50% до 1 октября",


      }
    ]

