-
  var equipmentList = [
      {
        link: "#",
        path: "content/products",
        name: "pilates-rectangle",
        format: "jpg",
        width: 140,
        height: 140,
        title: "Пилатес мат",
      },
      {
        link: "#",
        path: "content/products",
        name: "pilates-roll",
        format: "jpg",
        width: 140,
        height: 140,
        title: "Массажный ролл",
      },
    ]
