-
  var featuresData = [
      {
        icon: "icon-pen-gradient",
        title: "Вы проходите короткое анкетирование",
      },
      {
        icon: "icon-person-gradient",
        title: "Кураторы составляют программу",
      },
      {
        icon: "icon-dumbbell-gradient",
        title: "По ходу ваших занятий программа корректируется",
      },
    ]