- var filterItems = ["Все товары", "Курсы", "Оборудование", "Клубные карты", "Книги", "Курсы", "Оборудование", "Клубные карты", "Книги", "Курсы", "Оборудование", "Клубные карты", "Книги"]
- var filterCatalogItems = ["Курсы", "Оборудование", "Клубные карты", "Книги"]
- var filterWorkoutsListItems = ["Все зарядки", "Спина", "Гибкость", "Ноги", "Пресс", "Руки"]
