-
  var offerCards = [
      {
        title: "Пилатес зарядки",
        text: "Наслаждайтесь ежедневно движением, восстановите контакт со своим телом.",
        name: "icon-bell",
        width: 80,
        height: 80,
        hasLable: true,
        link: "#",
      },
      {
        title: "Тематические недели",
        text: "Комплексный подход для создания здорового и подтянутого тела под присмотром экспертов.",
        name: "icon-week-test",
        width: 80,
        height: 80,
        hasLable: true,
        link: "#",
      },
            {
        title: "Мой каталог",
        text: "Специальные цены на оборудование и курсы для владельцев клубных карт.",
        name: "icon-book",
        width: 80,
        height: 80,
        hasLable: false,
        link: "#",
      },
    ]
