-
  var productCardspromo = [
      {
        link: "/",
        path: "content/products",
        name: "product-card-bc",
        format: "jpg",
        width: 592,
        height: 592,
        course: "Базовый пилатес курс",
        price: "1990",
        oldPrice: "4000",
        discount: "- 50%"
      },
      {
        link: "/",
        path: "content/products",
        name: "product-card-t",
        format: "jpg",
        width: 592,
        height: 592,
        course: "Базовый пилатес курс",
        price: "1990",
        oldPrice: "4000",
        discount: "- 50%"
      },
      {
        link: "/",
        path: "content/products",
        name: "product-card-ps",
        format: "jpg",
        width: 592,
        height: 592,
        course: "Курс “Пилатес среднего уровня”",
        price: "1990",
        oldPrice: "4000",
        discount: "- 50%"
      },
      {
        link: "/",
        path: "content/products",
        name: "product-card-bh",
        format: "jpg",
        width: 592,
        height: 592,
        course: "Курс “Красивые бедра и ягодицы”",
        price: "2990",
        oldPrice: "4000",
        discount: "- 50%"
      },
      {
        link: "/",
        path: "content/products",
        name: "product-card-hb",
        format: "jpg",
        width: 592,
        height: 592,
        course: "Базовый пилатес курс",
        price: "1990",
        oldPrice: "4000",
        discount: "- 50%"
      },
      {
        link: "/",
        path: "content/products",
        name: "product-card-hb-2",
        format: "jpg",
        width: 592,
        height: 592,
        course: "Курс “Здоровая спина”",
        price: "1990",
        oldPrice: "4000",
        discount: "- 50%"
      }
    ]
