-
    var headerLinks = [
      {
        href: "#",
        text: "Активности",
        icon: "icon-activity",
        width: 22,
        height: 30
      },
      {
        href: "#",
        text: "Зарядки",
        icon: "icon-charging",
        width: 28,
        height: 32
      },
      {
        href: "#",
        text: "Расписание",
        icon: "icon-schedule",
        width: 31,
        height: 29
      }
    ]
