-
  var sectionCards = [
    {
      link: "#",
      path: "content/directory-section",
      name: "directory-section-1",
      format: "svg",
      width: 335,
      height: 256,
      title: "Оборудование"
    },
    {
      link: "#",
      path: "content/directory-section",
      name: "directory-section-2",
      format: "svg",
      width: 340,
      height: 268,
      title: "Курсы"
    },
    {
      link: "#",
      path: "content/directory-section",
      name: "directory-section-3",
      format: "svg",
      width: 272,
      height: 286,
      title: "Клубные карты"
    }
  ]
