-
  var specialOffers = [
      {
        link: "#",
        path: "content/products",
        name: "product-card-bc",
        format: "jpg",
        width: 592,
        height: 592,
        course: "Базовый пилатес курс",
        price: "1990",
        oldPrice: "4000",
        discount: "- 50%"
      },
      {
        link: "#",
        path: "content/products",
        name: "product-card-bc2",
        format: "jpg",
        width: 592,
        height: 592,
        course: "Базовый пилатес курс",
        price: "1990",
        oldPrice: "4000",
        discount: "- 50%"
      },
      {
        link: "#",
        path: "content/products",
        name: "product-card-bc2",
        format: "jpg",
        width: 592,
        height: 592,
        course: "Базовый пилатес курс",
        price: "1990",
        oldPrice: "4000",
        discount: "- 50%"
      }
    ]
