-
  var tematicCards = [
      {
        day: "1",
        month: "октября",
        date: "2021-10-01",
        link: "#",
        path: "content/products",
        name: "product-card-1",
        format: "jpg",
        width: 592,
        height: 592,
        course: "Плоский живот"
      },
      {
        day: "21",
        month: "октября",
        date: "2021-10-21",
        link: "#",
        path: "content/products",
        name: "product-card-2",
        format: "jpg",
        width: 592,
        height: 592,
        course: "Красивые бедра и ягодицы"
      }
    ]
