-
  var workoutsVideo = [
      {
        link: "#",
        path: "content/products",
        name: "workout-card-rb",
        format: "jpg",
        width: 296,
        height: 167,
        title: "Укрепление всего тела и баланс",
        time: 23,
      },
      {
        link: "#",
        path: "content/products",
        name: "workout-card-sdn2",
        format: "jpg",
        width: 296,
        height: 167,
        title: "Укрепление всего тела и баланс",
        time: 23,
      },
      {
        link: "#",
        path: "content/products",
        name: "workout-card-dk",
        format: "jpg",
        width: 296,
        height: 167,
        title: "Дыхание и баланс",
        time: 23,
      },
      {
        link: "#",
        path: "content/products",
        name: "workout-card-dk",
        format: "jpg",
        width: 296,
        height: 167,
        title: "Дыхание и баланс",
        time: 23,
      },
    ]
-
  var workoutsVideoSeries = [
      {
        link: "#",
        path: "content/products",
        name: "workout-card-rb",
        format: "jpg",
        width: 296,
        height: 167,
        title: "Укрепление всего тела и баланс",
        time: 23,
        isComplete: true,
      },
      {
        link: "#",
        path: "content/products",
        name: "workout-card-sdn2",
        format: "jpg",
        width: 296,
        height: 167,
        title: "Укрепление всего тела и баланс",
        time: 23,
        isComplete: false,
      },
      {
        link: "#",
        path: "content/products",
        name: "workout-card-dk",
        format: "jpg",
        width: 296,
        height: 167,
        title: "Дыхание и баланс",
        time: 23,
        isComplete: false,
      },
      {
        link: "#",
        path: "content/products",
        name: "workout-card-dk",
        format: "jpg",
        width: 296,
        height: 167,
        title: "Дыхание и баланс",
        time: 23,
        isComplete: false,
      },
    ]
