-
  var workoutCardsList = [
    {
      link: "/",
      path: "content/workout-cards",
      name: "workout-card-sd",
      format: "jpg",
      width: 296,
      height: 178,
      course: "Сила джунглей",
      time: 23,
      favorite: true,
    },

    {
      link: "/",
      path: "content/workout-cards",
      name: "workout-card-rb",
      format: "jpg",
      width: 296,
      height: 178,
      course: "Расклеивание бедер — 3",
      time: 23,
      favorite: true,
    },

    {
      link: "/",
      path: "content/workout-cards",
      name: "workout-card-mp",
      format: "jpg",
      width: 296,
      height: 178,
      course: "Магическая пятерка",
      time: 23,
      favorite: true,
    },

    {
      link: "/",
      path: "content/workout-cards",
      name: "workout-card-rts",
      format: "jpg",
      width: 296,
      height: 178,
      course: "Раскрытие тазобедренных суставов",
      time: 23,
    },

    {
      link: "/",
      path: "content/workout-cards",
      name: "workout-card-sdn",
      format: "jpg",
      width: 296,
      height: 178,
      course: "Серия для начинающих",
      time: 23,
    },

    {
      link: "/",
      path: "content/workout-cards",
      name: "workout-card-sdn2",
      format: "jpg",
      width: 296,
      height: 178,
      course: "Серия для начинающих",
      time: 23,
    },

    {
      link: "/",
      path: "content/workout-cards",
      name: "workout-card-pg",
      format: "jpg",
      width: 296,
      height: 178,
      course: "Плоский живот",
      time: 23,
    },

    {
      link: "/",
      path: "content/workout-cards",
      name: "workout-card-dk",
      format: "jpg",
      width: 296,
      height: 178,
      course: "Дыхание и контроль",
      time: 23,
    },

    {
      link: "/",
      path: "content/workout-cards",
      name: "workout-card-dk",
      format: "jpg",
      width: 296,
      height: 178,
      course: "Дыхание и контроль",
      time: 23,
    },

     {
      link: "/",
      path: "content/workout-cards",
      name: "workout-card-utb",
      format: "jpg",
      width: 296,
      height: 178,
      course: "Укрепление всего тела и баланс",
      time: 23,
    },
  ]
